In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
df = pd.read_csv("loan.csv")

In [2]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [3]:
temp = df[["Gender" , "Married"]]

In [4]:
temp.head()

  Gender Married
0   Male      No
1   Male      No
2   Male      No
3   Male      No
4   Male      No

In [5]:
temp.isnull().sum()

Gender     13
Married     3
dtype: int64

In [6]:
for x in temp.columns:
    temp[x] = temp[x].ffill()

C:\Users\G\AppData\Local\Temp\ipykernel_14580\1949785086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[x] = temp[x].ffill()

In [7]:
temp.isnull().sum()

Gender     0
Married    0
dtype: int64

In [8]:
ohe = OneHotEncoder()
ans = ohe.fit_transform(temp).toarray()
ans

array([[0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       ...,
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.]])

In [9]:
temp.columns

Index(['Gender', 'Married'], dtype='object')

In [10]:
df2 = pd.DataFrame(ans , columns =["Gender_Male" , "Gender_Female" , "Married_Yes" , "Married_No"])

In [11]:
df2.head()

   Gender_Male  Gender_Female  Married_Yes  Married_No
0          0.0            1.0          1.0         0.0
1          0.0            1.0          1.0         0.0
2          0.0            1.0          1.0         0.0
3          0.0            1.0          1.0         0.0
4          0.0            1.0          1.0         0.0