In [64]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("loan.csv")
from sklearn.impute import SimpleImputer

In [65]:
df.shape

(619, 13)

In [66]:
df.drop_duplicates(inplace = True)

In [67]:
df.shape

(616, 13)

In [68]:
# change the data type of a column 
# before that fiil all the null value and chagne other categorical data into int64 or replace
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [69]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        30
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [70]:
df["Dependents"].fillna(df["Dependents"].mode()[0] , inplace = True)

C:\Users\G\AppData\Local\Temp\ipykernel_6800\1817003950.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dependents"].fillna(df["Dependents"].mode()[0] , inplace = True)

In [71]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        30
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [72]:
df["Dependents"].replace("3+" ,"3" , inplace = True)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 616 entries, 0 to 618
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            616 non-null    object
 1   Gender             603 non-null    object
 2   Married            613 non-null    object
 3   Dependents         616 non-null    object
 4   Education          616 non-null    object
 5   Self_Employed      586 non-null    object
 6   ApplicantIncome    616 non-null    int64
 7   CoapplicantIncome  616 non-null    float64
 8   LoanAmount         595 non-null    float64
 9   Loan_Amount_Term   602 non-null    float64
 10  Credit_History     567 non-null    float64
 11  Property_Area      616 non-null    object
 12  Loan_Status        616 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.4+ KB

In [74]:
df["Dependents"] = df["Dependents"].astype("int64")

In [75]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,141.0,360.0,1.0,Urban,Y
4,LP001002,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N

In [76]:
df.info()
# type changed object to int64

<class 'pandas.core.frame.DataFrame'>
Index: 616 entries, 0 to 618
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            616 non-null    object
 1   Gender             603 non-null    object
 2   Married            613 non-null    object
 3   Dependents         616 non-null    int64
 4   Education          616 non-null    object
 5   Self_Employed      586 non-null    object
 6   ApplicantIncome    616 non-null    int64
 7   CoapplicantIncome  616 non-null    float64
 8   LoanAmount         595 non-null    float64
 9   Loan_Amount_Term   602 non-null    float64
 10  Credit_History     567 non-null    float64
 11  Property_Area      616 non-null    object
 12  Loan_Status        616 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 67.4+ KB